.menu {
    padding-right: 60px;
}

.navv{
    background-color: #16190e;
}

*{
    background-color: #0e0530;
}

.nav-item{
    background-color: #16190e;
}

.nav-link{
    background-color: #16190e;
}

.dropmenu {
    padding-right: 370px;
}

.gal {
    background-color: #16190e;
}

.card-text {
    color: white;
}